aiohttp==3.6.2
amqp==2.6.1
appdirs==1.4.3
asgiref==3.2.10
async-timeout==3.0.1
attrs==19.3.0
autobahn==21.3.1
Automat==20.2.0
billiard==3.6.3.0
CacheControl==0.12.6
celery==4.4.7
certifi==2020.6.20
cffi==1.14.1
channels==3.0.3
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
colorama==0.4.3
constantly==15.1.0
contextlib2==0.6.0
cryptography>3.0
daphne==3.0.2
defusedxml==0.7.1
distlib==0.3.0
distro==1.4.0
Django==3.1
django-allauth==0.44.0
django-dbbackup==3.3.0
django-geoipdb-loader==1.0.0
django-geojson==3.0.0
django-rest-auth==0.9.5
django-rest-framework==0.1.0
django-storages==1.11.1
